@{
    ViewData["Title"] = "Contact Information";
}
<h1>@ViewData["Title"]</h1>

<p>This is the contact infromation</p>
<p>Call out head office at 503-111-2222 for all inquiries</p>
 <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Organizer</th>
                        <th scope="col">RSVP Questions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>P.S.W HR dept.(Ext. 23)</td>
                        <td>John Doe: (Ext.24)</td>
                      </tr>
                    </tbody>
                  </table>
